footer {
  background-color: #444;
  color: white;
  padding-top: 60px;
  @include media-breakpoint-up(sm) {
    padding-top: 50px;
  }
  @include media-breakpoint-up(md) {
    padding-top: 80px;
  }


  .footer-main {
    .fcol-1 {
      text-align: center;
      @include media-breakpoint-up(md) {
        order: 2;
        text-align: left;
      }
     }
    .fcol-2 {
      text-align: center;
      @include media-breakpoint-up(md) {
        order: 3;
        text-align: left;
      }
    }
    .fcol-3 {
      text-align: center;
      @include media-breakpoint-up(md) {
        order: 1;
        text-align: left;
      }

    }

  }

  // display different logos on responsive
  img.show-large {
    display: none;
    @include media-breakpoint-up(md) {
      display: block;
    }
  }
  img.hide-large {
    display: inline-block;
    @include media-breakpoint-up(md) {
      display: none;
    }
  }


  .footer-copy {
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 30px;

    @include media-breakpoint-up(lg) {
      font-size: 14px;
      padding-top: 10px;
    }
  }

  .footer-info {
    font-size: 9px;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
    @include media-breakpoint-up(lg) {
      font-size: 14px;
      padding-bottom: 80px;
    }
  }

  .logo-wrapper {
    display: inline-block;
    width: 290px;

    img {
      max-width: 100%;
      height: auto;
    }

  }

  .relx-wrapper {
    text-align: center;
    padding-bottom: 70px;
    @include media-breakpoint-up(lg) {
      float: right;
      padding-bottom: 20px;
    }

  }

  .nav {
    display: block;
    .nav-item {
      a {
        font-size: 10px;
        font-weight: bold;
        color: white;

        &:hover, &:active, &:focus {
          color: white;
        }

        @include media-breakpoint-up(lg) {
          font-size: 14px;
        }
    
      }
    }
  }
}
// EOF