@include media-breakpoint-down(md) {

  body.menu-open {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

header {
/*
 * completely separated styles for mobile and desktop
*/
$navbar-dark-toggler-icon-white-bg:       url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'><path stroke='#fff' stroke-linecap='round' stroke-miterlimit='10' stroke-width='3' d='M4 7h22M4 15h22M4 23h22'/></svg>") !default;

// 
// mobile
//

@include media-breakpoint-down(md) {

    .navbar-toggler {
      border-width: 0;
      border-radius: 0;
      &:hover, &:active, &:focus {

      }
    }

    .navbar-toggler-icon {
      //$navbar-dark-toggler-icon-bg
      background-image: escape-svg($navbar-dark-toggler-icon-white-bg);
    }

    nav.navbar {
      height: 130px;
      display: block;
      background-color: #666;
    }

    .navbar-collapse {
      position: fixed;
      top: 130px;
      bottom: 0;
      left: 100%;
      width: 100%;
      background-color: white;
      padding: 25px;
      overflow-y: auto;
      z-index: 1000;
  
      max-height: initial;
      display: block !important;
      height: auto !important;
  
      transition: left .5s ease;
    }

    .navbar-collapse.show {
      left: 0;
    }
  
    .dropdown-menu {
      border: none;
      border-radius: 0;
    }

    .navbar-brand {
      width: 200px;
      max-width: 60%;
      img {
        max-width: 100%;
        height: auto;
      }
    }

    .search-all-jobs {
      position: absolute;
      bottom: 10px;
      left: 0;
      right: 0;
      height: 46px;
      text-align: center;
      background-color: #e1e1e1;
      padding-top: 8px;
      a {
        display: inline-block;
        //height: 28px;
        width: 80%;
        font-weight: bold;
        color: white;
        background-color: #002f6c;
        text-decoration: none;
        padding-top: 2px;
        padding-bottom: 4px;
        border-radius: 8px;
        &:hover, &:active, &:focus {
          color: white;
          background-color: #002f6c;
          text-decoration: none;
        }
      }
    }

    .navbar-nav {
      .nav-link {
          color: $rba-gray-dark;
          &:hover, &:active {
            font-weight: 600;
        }
        &:focus {
          font-weight: 600;
        }
      }
      .active {
        & > .nav-link {
            color: $rba-gray-dark;
            font-weight: 600;
        }
      }
    }
  }
//
// tablet
//
@include media-breakpoint-between(sm, md) {

  .search-all-jobs {
    padding-top: 7px;
    a {
      //height: 25px;
      padding-top: 2px;
      padding-bottom: 4px;
    }
  }
}

// 
// desktop
//
  @include media-breakpoint-up(lg) {

    .container {
      max-width: 1760px;
    }
    .navbar-brand {
      width: 290px;
      padding-top: 27px;

      img {
        max-width: 100%;
        height: auto;
      }
    }

    nav.navbar {
      display: block;
      height: 230px;
      background-color: #666;
    }

    .dropdown-menu {
      border: none;
      border-radius: 0;
      top: calc(100% + 22px);
      background-color: rgba(0,0,0,.6);
      .dropdown-item {
        color: white;
        &.active, &:hover, &:active, &:focus {
          color: white;
          background-color: rgba(255,255,255,.2);
        }
      }
    }

    .nav-wrapper {
      position: absolute;
      height: 80px;
      bottom: 10px;
      left: 0;
      width: 100%;
      background-color: #e1e1e1;
      padding-top: 20px;
    }
    .collapse.navbar-collapse {
    }

    .navbar-nav {
      .nav-item {
        & > a.nav-link {
          font-size: 18px;
          color: #444;
          padding: 4px 25px;
          border-right: 1px solid #999;

          &:hover, &:active, &:focus {
            color: #111;
          }

        }
        &:first-child {
          & > a.nav-link {
            padding-left: 0;
          }
        }
        
        &:last-child {
          & > a.nav-link {
            border-width: 0;
          }
        }
        

        &.active {
          & > a {
            color: #111;
          }
        }
      }
    }

    .search-all-jobs {
      flex-grow: 1;
      max-width: 300px;
      text-align: center;
      a {
        display: inline-block;
        //height: 28px;
        width: 100%;
        font-weight: bold;
        color: white;
        background-color: #002f6c;
        text-decoration: none;
        padding-top: 2px;
        padding-bottom: 4px;
        border-radius: 8px;
        &:hover, &:active, &:focus {
          color: white;
          background-color: #002f6c;
          text-decoration: none;
        }
      }
    }

  }
}
// EOF