.home-hero{
  position: relative;
  margin: 0 auto 50px auto;
  @include media-breakpoint-up(md) {
    margin: 0 auto 80px auto;
  }
  @include media-breakpoint-up(lg) {
    margin: 0 auto 120px auto;
  }

  .hero-bg {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
  }

  .inner {
    position: relative;
    color: white;
    padding: 70px 40% 50px 50px; 
    h1 {
      font-size: 55px;
      font-weight: 300;
    }
    h3 {
      font-size: 18px;
      font-weight: 700;
    }
    @include media-breakpoint-up(md) {
      h1 {
        font-size: 100px;
      }
      h3 {
        font-size: 24px;
      }
      padding: 80px 40% 70px 80px; 
    }
    @include media-breakpoint-up(lg) {
      h1 {
        font-size: 170px;
      }
      h3 {
        font-size: 50px;
      }
      padding: 200px 40% 180px 180px; 
    }
  }
}


.home-path {
  max-width: 1024px;
  text-align: center;
  margin: 0 auto 60px auto;
  @include media-breakpoint-up(md) {
    margin: 0 auto 80px auto;
  }
  @include media-breakpoint-up(lg) {
    margin: 0 auto 100px auto;
  }

  .section-header {
    margin: 0 0 20px 0;
    text-align: center;
    h2 {
      font-size: 24px;
      font-weight: light;
      margin-top: 0;
    }
    p {
      font-size: 14px;
    }
    @include media-breakpoint-up(md) {
      h2 {
        font-size: 34px;
      }
      p {
        font-size: 16px;
      }
    }
    @include media-breakpoint-up(lg) {
      h2 {
        font-size: 56px;
      }
      p {
        font-size: 24px;
      }
    }
  }

  .paths {
    @include clearfix;
    .path1, .path2, .path3 {
      padding: 20px  25px;
      h3 {
        font-size: 40px;
        font-weight: bold;
      }
      p {
        font-size: 24px;
      }
      @include media-breakpoint-up(lg) {
        width: 33.33%;
        float: left;
      }
    }

    // just mobile
    @include media-breakpoint-down(md) {
      .path1, .path3 {
        display: flex;
        flex-direction: row;
        .icon-wrap {
          order: 2;
          text-align: left;
        }
        .content-wrap {
          order: 1;
          text-align: right;
          padding-right: 15px;
        }
      }
      .path2 {
        display: flex;
        flex-direction: row;
        .icon-wrap {
          text-align: right;
        }
        .content-wrap {
          text-align: left;
          padding-left: 15px;
        }

      }
    }
  }
}


.home-environments {
  background-color: $rba-blue-light-10;
  position: relative;
  margin-bottom: 70px;
  @include media-breakpoint-up(md) {
    margin-bottom: 80px;
  }
  @include media-breakpoint-up(lg) {
    margin-bottom: 170px;
  }

  @include tile-text;

  .col1 {
    position: relative;
    .image-wrapper {
      position: absolute;
      top: 0;
      left: 50%;
      right: 0;
      bottom: 0;
      background-position: top left;
      background-size: cover;
      background-repeat: no-repeat;
    }
    .content-wrapper {
      padding: 20px 25px;
      text-align: center;
      @include media-breakpoint-up(md) {
        width: 50%;
        text-align: right;
        padding: 50px 60px 40px 0;
      }
      @include media-breakpoint-up(lg) {
        width: 50%;
        padding: 80px 90px 60px 0;
      }
      a {
        color: white;
        background: $rba-blue;
        padding: 10px 50% 10px 20px;
        margin-right: -50%;
        margin-top: 10px; 
      }
    }
  }
  .col2 {
    position: relative;
    .image-wrapper {
      position: absolute;
      top: 0;
      left: 0;
      right: 50%;
      bottom: 0;
      background-position: top left;
      background-size: cover;
      background-repeat: no-repeat;
    }
    .content-wrapper {
      padding: 20px 25px;
      text-align: center;
      @include media-breakpoint-up(md) {
        width: 50%;
        float: right;
        text-align: left;
        padding: 50px 0 40px 60px;
      }
      @include media-breakpoint-up(lg) {
        padding: 80px 0 60px  90px;
      }
      a {
        font-weight: 700;
        color: white;
        background: $rba-blue;
        padding: 10px 20px 10px 50%;
        margin-left: -50%;
        margin-top: 10px; 
      }
    }

  }
}


.explore-careers {
  margin-bottom: 70px;
  @include media-breakpoint-up(md) {
    margin-bottom: 80px;
  }
  @include media-breakpoint-up(lg) {
    
  }

  .section-header {
    @include section-header;
  }


  .career-tiles {
    display: flex;
    justify-content: center;
    .tile {
      flex-grow: 0;
      text-align: center;
      padding: 10px 10px;
      .inner {
        background-color: $rba-blue-light-10;
        .image-wrapper {
          img {
            max-width: 100%;
            height: auto;
          }
        }
        .content-wrapper {
          padding: 17px 20px;
          h3 {
            font-size: 17px;
            font-weight: 700;
            @include media-breakpoint-up(lg) {
              font-size: 22px;
            }
          }
          p {
            font-size: 11px;
            @include media-breakpoint-up(lg) {
              font-size: 14px;
            }
          }
          .cta-wrapper {
            a{
              font-weight: 700;
              color: $rba-blue;
              text-decoration: underline;
              &:hover, &:active, &:focus {
                color: $rba-blue;
                text-decoration: underline;
              }
            }
          }
        }
      }
    }
  }

  .discover-cta {
    text-align: center;
    padding: 50px 0 0 0;
    a {
      @include button-blue-rounded;
    }
  }
}

.get-started {

  .section-header {
    padding-top: 40px;
    @include media-breakpoint-up(md) {
      border-top: 1px solid $rba-blue;
      padding-top: 40px;
    }
    @include media-breakpoint-up(lg) {
      border-width: 0;
      padding-top: 70px;
    }
  }

  .started-tiles {
    display: flex;
    flex-direction: row;
    .tile {
      flex-grow: 1;
      padding: 10px 10px;
      .inner {
        position: relative;
        background-color: $rba-blue-light-10;
        padding: 0 0 60px 0;
        .image-wrapper {
          height: 0;
          padding-bottom: 56%;
          background-size: cover;
          background-position: center center;
          background-repeat: no-repeat;
        }
        .content-wrapper {
          text-align: center;
          padding: 20px;
          h3 {
            font-size: 16px;
            font-weight: 700;
          }
          p {
            font-size: 12px;
          }
        }
        .cta-wrapper {
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          a {
            @include button-blue-square;
          }
        }
      }
      @include media-breakpoint-up(md) {
        width: 50%;
        padding: 10px 25px;
        .inner {
        .content-wrapper {
          h3 {
            font-size: 17px;
            font-weight: 700;
          }
          p {
            font-size: 14px;
          }
        }
      }
      }
      @include media-breakpoint-up(lg) {
        padding: 10px 35px;
        .inner {
        .content-wrapper {
          h3 {
            font-size: 28px;
            font-weight: 700;
          }
          p {
            font-size: 24px;
          }
        }
      }
      }
    
    }
  }

}


.strength-diversity {
  position: relative;
  margin-bottom: 60px;
  padding: 80px 0 80px 0;
  overflow: hidden;
  @include media-breakpoint-up(md) {
    margin-bottom: 80px;
    padding: 80px 0 80px 0;
  }
  @include media-breakpoint-up(lg) {
    margin-bottom: 150px;
    padding: 80px 0 80px 0;
  }

  .hero-bg {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
  }

  .section-header {
    position: relative;
    margin-left: 40%;
    color: white;
    @include media-breakpoint-up(lg) {
      margin-left: 50%;
    }
  
    h2 {
      font-size: 18px;
      font-weight: 700;
    }
    p {
      font-size: 12px;
      font-weight: 300;
    }
    .cta-wrapper {
      position: relative;
      a {
        position: absolute;
        top: 0;
        left: 60%;
        right: -9999px;
        padding: 5px 25px;
        background-color: white;
        color: $rba-blue;
      }
    }
    @include media-breakpoint-up(md) {

    }
    @include media-breakpoint-up(lg) {
      h2 {
        font-size: 28px;
      }
      p {
        font-size: 24px;
      }
    }
  }
}


.locations {
  margin-bottom: 60px;
  @include media-breakpoint-up(md) {
    margin-bottom: 80px;
  }
  @include media-breakpoint-up(lg) {
    margin-bottom: 150px;
  }

  .section-header {
    @include section-header;
  }

  .locations-wrapper {
    @include clearfix;
    background-image: url('../content/homepage-map-mobile.png');
    background-size: cover;
    background-repeat: no-repeat;
    @include media-breakpoint-up(md) {
      background-image: url('../content/homepage-map.png');
    }


    .location {
      position: relative;
      opacity: .6;
      padding: 5px 10px;
      transition: all .3s ease;
      min-height: 120px;
      h3 {
        font-size: 28px;
        font-weight: 700;
        margin: 0 0 0 20px;
        transition: all .3s ease;
      }
      h5 {
        display: none;
        font-size: 0;
        font-weight: 700;
        margin: 0 0 0 20px;
        transition: all .3s ease;
      }

      &:hover {
        h3 {
          font-size: 30px;
          font-weight: 700;            
        }
        h5 {
        }
  
      }

      a {
        position: absolute;
        top: 5px;
        left: 10px;
        right: 10px;
        bottom: 5px;
        color: white;
        text-align: center;
        background-color: $rba-blue-gray-5;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-bottom: 15px;

        &:hover, &:active, &:focus {
          color: white;
          text-decoration: none;
          background-color: $rba-purple-5;
        }
      }

      //responsive things
      @include media-breakpoint-up(md) {
        width: 33.33%;
        float: left;
        a {
          justify-content: end;
          text-align: left;
        }
        h2 {
          font-size: 20px;
        }
        h5 {
          display: block;
          font-size: 0;
        }
        &:hover {
          h3 {
            font-size: 30px;
          }
          h5 {
            font-size: 20px;
          }
    
        }
  
      }
      @include media-breakpoint-up(lg) {
        width: 25%;
        h2 {
          font-size: 28px;
        }
        h5 {
          font-size: 0;
        }
        &:hover {
          h3 {
            font-size: 40px;
          }
          h5 {
            font-size: 28px;
          }
    
        }

      }
    

    }
  }
}
// EOF