body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  width: 100%;
  color: $rba-gray;
}

#main {
  min-height: 400px;
}

h1 {
  line-height: 1.1;
}
h2 {
  line-height: 1.1;
}
h3 {
  line-height: 1.1;
}

p, ul {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  margin: 0 0 8px 0;
}

a {
  color: $rba-gray;
  text-decoration: none;
  &:hover, &:active, &:focus {
    color: $rba-gray-dark;
    text-decoration: none;
  }
}

.rba-stripe {
  padding: 0 0 60px 0;
  @include media-breakpoint-up(md) {
    padding: 0 0 80px 0;
  }
  @include media-breakpoint-up(lg) {
    padding: 0 0 150px 0;
  }

  .section-header {
    @include section-header;
  }
}
// EOF