.page-hero {
  position: relative;
  margin: 0 auto 50px auto;
  @include media-breakpoint-up(md) {
    margin: 0 auto 80px auto;
  }
  @include media-breakpoint-up(lg) {
    margin: 0 auto 120px auto;
  }

  .hero-bg {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
  }

  .inner {
    position: relative;
    color: white;
    padding: 70px 40% 50px 50px; 
    h1 {
      font-size: 55px;
      font-weight: 300;
    }
    h3 {
      font-size: 18px;
      font-weight: 700;
    }
    @include media-breakpoint-up(md) {
      h1 {
        font-size: 80px;
      }
      h3 {
        font-size: 24px;
      }
      padding: 80px 40% 70px 80px; 
    }
    @include media-breakpoint-up(lg) {
      h1 {
        font-size: 100px;
      }
      h3 {
        font-size: 50px;
      }
      padding: 200px 40% 180px 180px; 
    }
  }
}

.page-lead {
  max-width: 1024px;
  text-align: center;
  margin: 0 auto 60px auto;
  @include media-breakpoint-up(md) {
    margin: 0 auto 80px auto;
  }
  @include media-breakpoint-up(lg) {
    margin: 0 auto 100px auto;
  }

  .section-header {
    margin: 0 0 20px 0;
    text-align: center;
    h2 {
      font-size: 24px;
      font-weight: light;
      margin-top: 0;
    }
    p {
      font-size: 14px;
    }
    @include media-breakpoint-up(md) {
      h2 {
        font-size: 34px;
      }
      p {
        font-size: 16px;
      }
    }
    @include media-breakpoint-up(lg) {
      h2 {
        font-size: 56px;
      }
      p {
        font-size: 24px;
      }
    }
  }
}


.page-tiles {
  position: relative;
  margin-bottom: 70px;
  @include media-breakpoint-up(md) {
    margin-bottom: 80px;
  }
  @include media-breakpoint-up(lg) {
    margin-bottom: 170px;
  }

  .row {
    margin-bottom: 50px;
  }

  @include tile-text;
  .content-wrapper {
    a {
      display: block;
      font-weight: 700;
      color: $rba-blue;
      text-decoration: underline;
      margin-top: 10px;
      margin-bottom: 20px;
    &:hover, &:active, &:focus {
        color: $rba-blue;
        text-decoration: underline;
      }
    }
  }
  .col1 {
    position: relative;
    .image-wrapper {
      position: absolute;
      top: 0;
      left: 50%;
      right: 0;
      bottom: 0;
      background-position: top left;
      background-size: cover;
      background-repeat: no-repeat;
    }
    .content-wrapper {
      padding: 20px 25px;
      text-align: center;
      @include media-breakpoint-up(md) {
        width: 50%;
        text-align: right;
        padding: 50px 60px 40px 0;
      }
      @include media-breakpoint-up(lg) {
        width: 50%;
        padding: 80px 90px 60px 0;
      }
    }
  }
  .col2 {
    position: relative;
    .image-wrapper {
      position: absolute;
      top: 0;
      left: 0;
      right: 50%;
      bottom: 0;
      background-position: top left;
      background-size: cover;
      background-repeat: no-repeat;
    }
    .content-wrapper {
      padding: 20px 25px;
      text-align: center;
      @include media-breakpoint-up(md) {
        width: 50%;
        float: right;
        text-align: left;
        padding: 50px 0 40px 60px;
      }
      @include media-breakpoint-up(lg) {
        padding: 80px 0 60px  90px;
      }
    }

  }
}

.simple-tiles {
    display: flex;
    flex-direction: row;
    .tile {
      flex-grow: 1;
      padding: 10px 10px;
      .inner {
        position: relative;
        background-color: $rba-blue-light-10;
        padding: 0 0 20px 0;
        .image-wrapper {
          height: 0;
          padding-bottom: 56%;
          background-size: cover;
          background-position: center center;
          background-repeat: no-repeat;
        }
        .content-wrapper {
          text-align: center;
          padding: 20px;
          h3 {
            font-size: 16px;
            font-weight: 700;
          }
          p {
            font-size: 12px;
          }
        }
      }
      @include media-breakpoint-up(md) {
        width: 50%;
        padding: 15px 25px;
        .inner {
          padding: 0 0 30px 0;

        .content-wrapper {
          h3 {
            font-size: 17px;
            font-weight: 700;
          }
          p {
            font-size: 14px;
          }
        }
      }
      }
      @include media-breakpoint-up(lg) {
        padding: 20px 35px;
        .inner {
        .content-wrapper {
          h3 {
            font-size: 28px;
            font-weight: 700;
          }
          p {
            font-size: 24px;
          }
        }
      }
      }
    
    }
}

.icon-tiles {
  display: flex;
  flex-wrap: wrap;
  .tile {
    width: 100%;
    flex-grow: 0;
    flex-shrink: 0;
    text-align: center;
    padding: 20px 20px;
    @include media-breakpoint-up(md) {
      width: 50%;
    }
    @include media-breakpoint-up(lg) {
      width: 33.33%;
    }
    .inner {
      position: relative;
      display: inline-block;
      width: 300px;
      padding: 0 15px 20px 15px;
      &:before {
        content: '';
        display: block;
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $rba-blue-light-10;
      }
      .icon-wrapper {
        position: relative;
      }
      h4 {
        position: relative;
        margin-top: 15px;
      }
    }

  }
}
//EOF