

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);


//
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px
);

$rba-gray: #666;
$rba-gray-dark: #4c4c4c;

$rba-blue-light: #9bcbeb;
$rba-blue-light-10: #ebf4fb;
$rba-blue: #002f6c;

$rba-purple-5: rgba(103, 30, 117, 0.5);
$rba-blue-gray-5: rgba(0, 47, 108, 0.5);


@mixin button-blue-rounded {
  display: inline-block;
  padding: 8px 50px;
  font-size: 12px;
  font-weight: 600;
  color: white;
  text-align: center;
  text-decoration: none;
  background-color: $rba-blue;
  border-radius: 6px;
  border-width: none;
  box-shadow: none;

  @include media-breakpoint-up(md) {
    font-size: 12px;
    padding: 8px 70px;
  }
  @include media-breakpoint-up(lg) {
    font-size: 21px;
    padding: 8px 100px;
  }

  &:hover, &active, &focus {
    color: $rba-blue;
    color: white;
    text-decoration: none;
  }
}
@mixin button-blue-square {
  display: block;
  padding: 8px 40px;
  font-size: 14px;
  font-weight: 600;
  color: white;
  text-align: center;
  text-decoration: none;
  background-color: $rba-blue;
  border-radius: 0;
  border-width: none;
  box-shadow: none;

  @include media-breakpoint-up(md) {
    font-size: 14px;
    padding: 8px 70px;
  }
  @include media-breakpoint-up(lg) {
    font-size: 21px;
    padding: 8px 100px;
  }

  &:hover, &active, &focus {
    color: $rba-blue;
    color: white;
    text-decoration: none;
  }
}

@mixin section-header {
  color: #666;
  text-align: center;
  margin: 0 0 20px 0;
  h2 {
    font-size: 16px;
    font-weight: 700;
    margin-top: 0;
  }
  p {
    font-size: 14px;
    font-weight: 300;
  }
  @include media-breakpoint-up(lg) {
    h2 {
      font-size: 28px;
      margin-top: 0;
    }
    p {
      font-size: 22px;
    }
  }
}

@mixin tile-text {
  color: #666;
  margin: 0 0 20px 0;
  h2 {
    font-size: 16px;
    font-weight: 700;
    margin-top: 0;
  }
  p {
    font-size: 14px;
    font-weight: 300;
  }
  @include media-breakpoint-up(lg) {
    h2 {
      font-size: 24px;
      margin-top: 0;
    }
    p {
      font-size: 18px;
    }
  }

}
// EOF